*{

    box-sizing: border-box;
    background-color: plum;
    
    }

    body {
      width: 960px;
      margin: auto;
      font-family: 'Montserrat', sans-serif;
    }
    
   

    img {
        width: 250px;
        height: 350px;
    }
  


    
    button {
        font-size: larger;
        background-color:pink ;
        color: black;
        padding: 20px;
    }
    button:hover{
        background-color:purple;
        color:salmon(15, 88, 64) ;
    }
    

    ul {
        list-style: disc;
    }
    section {
        margin-left: 100px;
    }

    #listOfResult{
        color:purple;
        text-align: left;
        font-family: 'VT323', monospace;
        font-size: 20px;
        font-weight: 20;

    }
   

   